absl-py==1.4.0
accelerate==1.0.1
addict==2.4.0
aenum==3.1.16
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.9
aiosignal==1.3.1
albucore==0.0.17
albumentations==1.4.18
alembic==1.14.1
aliyun-python-sdk-core==2.16.0
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.5.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-record==0.4.0
arrow==1.3.0
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
attrs==24.2.0
av==12.3.0
babel==2.16.0
backcall==0.2.0
batchgenerators==0.25
beautifulsoup4==4.12.3
bibtexparser==1.4.3
bitsandbytes==0.45.5
black==24.8.0
bleach==6.1.0
blinker==1.8.2
bokeh==3.1.1
Brotli @ file:///C:/b/abs_3d36mno480/croot/brotli-split_1714483178642/work
bz2file==0.98
cachetools==5.5.0
cdsapi==0.7.6
certifi @ file:///C:/b/abs_1fw_exq1si/croot/certifi_1725551736618/work/certifi
cffi==1.17.1
cfgv==3.4.0
chardet==3.0.4
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chartify==4.0.5
cleanlab==2.7.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.1.0
cmake==3.31.6
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
ConfigArgParse==1.7
connected-components-3d==3.23.0
contextlib2==21.6.0
contourpy==1.1.1
crcmod==1.7
cryptography==43.0.1
cycler==0.12.1
Cython==3.0.11
dash==2.18.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dask==2023.5.0
# Editable install with no version control (dassl==0.6.3)
-e e:\10_conference\semi-supervised\cvpr\268\upcsc\dassl.pytorch
datasets==3.1.0
debugpy==1.8.7
decorator==5.1.1
deepdiff==8.0.1
defusedxml==0.7.1
Deprecated==1.2.14
descartes==1.1.0
diffusers==0.27.2
dill==0.3.8
dipy==1.8.0
distlib==0.4.0
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring_parser==0.17.0
easydict==1.13
ecmwf-datastores-client==0.2.0
ecos==2.0.14
einops==0.8.0
entrypoints==0.3
et-xmlfile==1.1.0
etils==1.3.0
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing==2.1.0
facexlib==0.3.0
fastapi==0.116.1
fastjsonschema==2.20.0
ffmpy==0.5.0
filelock==3.14.0
filterpy==1.4.5
fire==0.7.0
flake8==7.1.1
Flask==3.0.3
flatbuffers==24.3.25
flax==0.3.3
fonttools==4.53.1
fpdf2==2.8.1
fqdn==1.5.1
freetype-py==2.5.1
frozenlist==1.4.1
fsspec==2024.6.1
ftfy==6.2.3
future==1.0.0
fvcore==0.1.5.post20221221
gast==0.4.0
gdown==5.2.0
gevent==24.2.1
gitdb==4.0.11
GitPython==3.1.43
glfw==2.7.0
gmpy2 @ file:///C:/ci/gmpy2_1645456279018/work
google-auth==2.34.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
google-trans-new==1.1.9
googleapis-common-protos==1.65.0
googletrans==3.0.0
gradio==4.44.1
gradio_client==1.3.0
greenlet==3.1.1
grpcio==1.66.1
h11==0.16.0
h2==3.2.0
h5py==3.11.0
hausdorff==0.2.6
hpack==3.0.0
hsluv==5.0.4
hstspreload==2024.10.1
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.24.4
humanize==4.10.0
hydra-colorlog==1.2.0
hydra-core==1.3.2
hyperframe==5.2.0
icecream==2.1.3
identify==2.6.1
idna==2.10
ignite==1.1.0
imageio==2.35.1
imbalanced-learn==0.12.4
imblearn==0.0
imgaug==0.4.0
imgui==2.0.0
importlib_metadata==8.4.0
importlib_resources==6.4.4
iniconfig==2.0.0
iopath==0.1.9
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.12.3
ipywidgets==8.1.5
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.2.0
jedi==0.19.1
Jinja2 @ file:///C:/b/abs_92fccttino/croot/jinja2_1716993447201/work
jmespath==0.10.0
joblib==1.4.2
json5==0.9.25
jsonargparse==4.27.7
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_bokeh==4.0.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaggle==1.7.4.5
kagglehub==0.2.9
keras==2.13.1
kiwisolver==1.4.5
kornia==0.7.3
kornia_rs==0.1.8
lazy_loader==0.4
libclang==18.1.1
lightly==1.5.22
lightly-utils==0.0.2
lightning==2.3.3
lightning-bolts==0.7.0
lightning-utilities==0.11.7
linecache2==1.0.0
lit==18.1.8
littleutils==0.2.4
llvmlite==0.41.1
lmdb==1.7.5
locket==1.0.0
loguru==0.7.3
lxml==5.3.0
lyft-dataset-sdk==0.0.8
Mako==1.3.10
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///C:/b/abs_ecfdqh67b_/croot/markupsafe_1704206030535/work
matplotlib==3.5.3
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
MedPy==0.5.2
minepy==1.2.6
mistune==3.0.2
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
ml-collections==0.1.1
ml-dtypes==0.2.0
mmcv-full==1.7.2
mmdet==2.14.0
mmengine==0.10.5
mmsegmentation==0.14.1
model-index==0.1.11
monai==1.3.1
MouseInfo==0.1.3
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
multiurl==0.3.5
mypy-extensions==1.0.0
natsort==8.4.0
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nibabel==5.2.1
ninja==1.13.0
nltk==3.9.1
nmslib==2.1.2
nodeenv==1.10.0
notebook==7.2.2
notebook_shim==0.2.4
nptyping==2.5.0
numba==0.58.1
numexpr==2.8.6
numpy==1.24.4
nuscenes-devkit==1.1.11
nystrom-attention==0.0.9
oauthlib==3.2.2
ogb==1.3.6
omegaconf==2.3.0
open3d==0.10.0.0
open3d-python==0.3.0.0
openai-clip==1.0.1
opencv-python==4.10.0.84
opencv-python-headless==4.12.0.88
opendatalab==0.0.10
openmim==0.3.9
openpyxl==3.1.5
openslide-bin==4.0.0.8
openslide-python==1.4.1
openxlab==0.1.1
opt_einsum==3.4.0
optuna==4.5.0
ordered-set==4.1.0
orderly-set==5.2.2
orjson==3.10.15
osqp==1.0.5
oss2==2.17.0
outcome==1.3.0.post0
outdated==0.2.2
overrides==7.7.0
packaging==24.1
pandas==2.0.3
pandoc==2.4
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.1
pathspec==0.12.1
pdf2image==1.17.0
pdfkit==1.0.0
peft==0.13.2
pickleshare==0.7.5
Pillow==9.5.0
pkgutil_resolve_name==1.3.10
platformdirs==4.3.6
plotly==5.24.1
pluggy==1.5.0
plumbum==1.9.0
ply==3.11
plyfile==1.0.3
portalocker==3.0.0
pre-commit==3.5.0
prettytable==3.11.0
prometheus_client==0.21.0
promise==2.3
prompt_toolkit==3.0.48
propcache==0.2.0
protobuf==3.20.3
psutil==6.0.0
ptflops==0.7.3
pure_eval==0.2.3
pyaml==24.7.0
pyarrow==17.0.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
PyAutoGUI==0.9.54
pybind11==3.0.1
pycocotools==2.0.7
pycocotools-windows==2.0.0.2
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.3
pydantic_core==2.27.1
PyDeepLX==1.0.7
pyDeprecate==0.3.1
pydicom==2.4.4
pydub==0.25.1
pyflakes==3.2.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.18.0
pyiqa==0.1.14.1
PyMsgBox==1.0.9
PyMuPDF==1.24.11
pynrrd==1.0.0
pynvml==11.5.3
PyOpenGL==3.1.7
pypandoc==1.17
pyparsing==3.1.4
PyPDF2==3.0.1
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyquaternion==0.9.9
PyRect==0.2.0
pyrootutils==1.0.4
PyScreeze==1.0.1
PySocks @ file:///C:/ci/pysocks_1605287845585/work
pytest==8.3.3
python-box==7.2.0
python-dateutil==2.9.0.post0
python-discovery==1.1.0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.20
python-slugify==8.0.4
pytorch-ignite==0.4.10
pytorch-lightning==1.9.5
pytorch-metric-learning==2.9.0
pytweening==1.2.0
pytz==2023.4
PyWavelets==1.4.1
pywin32==307
pywinpty==2.0.13
PyYAML @ file:///C:/b/abs_782o3mbw7z/croot/pyyaml_1698096085010/work
pyzmq==26.2.0
referencing==0.35.1
regex==2024.9.11
reportlab==4.2.5
requests @ file:///C:/b/abs_9frifg92q2/croot/requests_1721410901096/work
requests-oauthlib==2.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rich==13.4.2
rpds-py==0.20.0
rsa==4.9
ruff==0.13.0
safetensors==0.4.4
scikit-image==0.21.0
scikit-learn==1.3.2
scikit-optimize==0.10.2
scikit-survival==0.22.2
scipy==1.10.1
screeninfo==0.8.1
seaborn==0.13.2
segment-anything==1.0
selenium==4.27.1
semantic-version==2.10.0
Send2Trash==1.8.3
sentence-transformers==3.2.1
sentencepiece==0.2.0
sentry-sdk==2.19.2
setproctitle==1.3.4
setuptools-scm==8.1.0
Shapely==1.8.5.post1
shellingham==1.5.4
SimpleITK==2.0.2
simplejson==3.20.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.44
stack-data==0.6.3
starlette==0.44.0
sympy @ file:///C:/b/abs_4e4p71hdj_/croot/sympy_1724938208509/work
tabulate==0.9.0
tb-nightly==2.21.0a20251023
tenacity==9.0.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-metadata==1.14.0
termcolor==2.4.0
terminado==0.18.1
terminaltables==3.1.10
text-unidecode==1.3
thop==0.1.1.post2209072238
threadpoolctl==3.5.0
tifffile==2023.7.10
timm==1.0.22
tinycss2==1.3.0
tokenizers==0.15.2
toml==0.10.2
tomli==2.0.2
tomlkit==0.12.0
toolz==1.0.0
topk==1.0
torch==2.1.0+cu121
torchaudio==2.1.0
torchinfo==1.8.0
torchio==0.19.9
torchmetrics==1.4.2
torchnet==0.0.4
torchsample==0.1.0
torchsummary==1.5.1
torchsummaryX==1.3.0
torchvision==0.16.0
tornado==6.4.1
tqdm==4.67.1
traceback2==1.4.0
traitlets==5.14.3
transformers==4.37.2
trimesh==4.4.9
trio==0.27.0
trio-websocket==0.12.2
trx-python==0.3
typer==0.12.5
types-python-dateutil==2.9.0.20241003
typeshed_client==2.7.0
typing_extensions==4.13.2
tzdata==2024.1
unittest2==1.1.0
uri-template==1.3.0
urllib3 @ file:///C:/b/abs_9a_f8h_bn2/croot/urllib3_1727769836930/work
uvicorn==0.33.0
virtualenv==21.1.0
visdom==0.2.4
vispy==0.14.2
wandb==0.19.1
wcwidth==0.2.13
webcolors==24.8.0
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.4
widgetsnbextension==4.0.13
wilds==1.2.2
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
win32_setctime==1.2.0
wrapt==1.16.0
wsproto==1.2.0
xarray==2023.1.0
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.6.0
xyzservices==2025.11.0
yacs==0.1.8
yapf==0.40.2
yarl==1.14.0
zipp==3.20.1
zope.event==5.0
zope.interface==7.1.1
